* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

:root {
    --color-white: #fff;
    --color-black: #0c0c0c;
    --color-green: #012b21;
    --color-green2: #d9ff29;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background: var(--color-green);
    color: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
    margin-left: 40px;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-btn {
    background-color: var(--color-green2);
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-btn i {
    color: var(--color-black);
    padding: 12px 20px;
}

.user-actions {
    display: flex;
    align-items: center;
}

.login-btn {
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--color-green2);
    color: var(--color-black);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart-btn {
    margin-right: 40px;
    padding: 12px 20px;
    background-color: var(--color-green2);
    color: var(--color-black);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart-btn i {
    height: 10px;
    cursor: pointer;
}

.banner {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.main {
    padding: 20px;
}

.bannerCategorias {
    text-align: center;
}

.bannerCategorias .box-banner {
    margin: 0 auto;
}

.bannerCategorias img {
    display: block;
    margin: 0 auto;
}

.bannerCategorias .yv-title {
    color: #808080;
    font-size: 2em;
    margin-top: 0.5em;
}

.bannerCategorias button {
    background-color: #c29442;
    color: white;
    border: none;
    padding: 20px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 0.5em;
}

.bannerCategorias ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bannerCategorias li {
    display: inline-block;
    margin-right: -4px;
}

.bannerCategorias li div img {
    width: 460;
    height: 375;
}

.footer {
    background: var(--color-green);
    color: #fff;
    text-align: center;
    padding: 1px 2px;
    width: 100%;
    margin-top: 5px;
}